﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular | SignalR</title>
</head>

<body ng-app="app">

    <root></root>

    @Scripts.Render("~/bundles/vendor-build")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/app-build")

</body>

</html>